<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710362037082-n6860cqvhnjf0acnv7dvjatcu0ntc5hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710362037082-n6860cqvhnjf0acnv7dvjatcu0ntc5hc</string>
	<key>API_KEY</key>
	<string>AIzaSyCzchCg-8TVS82Iyg4zltcOpk7YTvC52Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>710362037082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.sogang.20181593.veganBegan</string>
	<key>PROJECT_ID</key>
	<string>veganbegan-6322d</string>
	<key>STORAGE_BUCKET</key>
	<string>veganbegan-6322d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710362037082:ios:0eda8319f836c26ba01163</string>
	<key>DATABASE_URL</key>
	<string>https://veganbegan-6322d-default-rtdb.firebaseio.com</string>
</dict>
</plist>